@charset "UTF-8";

input.transparent-input {
    background-color:rgba(255,255,255,0.5);
    border:none;
}

#todo-title {
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

#todo-location {
    width: 100%;
    text-align:center;
    padding-top:10%;
}

hr.hr-style {
    border: 0;
    height: 1px;
    width: 700px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}